
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vue.js - binding data</title>
  <style>
    #app {
      width: 60%;
      margin: 20px auto auto auto;
    }
    input {
      padding-left: 10px;
    }
    .animal {
      font-size: 4em;
    }
    .red {
      color: red;
    }
    .green {
      color: green;
    }
  </style>
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      crossorigin="anonymous">
</head>
<body>
  <div id="app" class="jumbotron">
    <div class="row">
      <div class="col-9"><h1><span v-if="name">Hello, <strong>{{name}}</strong>! </span><span>Let’s learn Vue.js</span></h1></div>
      <div class="col-3"><img width="100%" :src="name ? gladSrc : sadSrc"></div>
    </div>
    <hr />
    <div>
      <label for="name" :class="{green: name, red: !name}">What's your name? </label>
      <input id="name" type="text" v-model.trim="name">
    </div>
    <hr />
    <h2><span v-if="name">{{name}}! </span>Select your animals</h2>
    <div class="row">
      <select @change="populateAnimalsForZoo" class="col-12" multiple="multiple" name="animals" id="animals">
        <option v-for="animal in animals" :value="animal">{{animal}}</option>
      </select>
    </div>
    <hr />
    <div v-if="animalsForZoo.length > 0">
      <h2><span v-if="name">{{name}}! </span>Here's your Zoo</h2>
      <ol>
        <li v-for="animal in animalsForZoo"><span class="animal" v-html="animalsCodes[animal]"></span></li>
      </ol>
    </div>
  </div>
  <script src="vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script>
    var animalsForZoo = []
    var animalsCodes = {
      dog     : '&#x1f436;',
      cat     : '&#x1f638;',
      monkey  : '&#x1f435;',
      unicorn : '&#x1f984;',
      tiger   : '&#x1f42f;',
      mouse   : '&#x1f42d;',
      rabbit  : '&#x1f430;',
      cow     : '&#x1f42e;',
      whale   : '&#x1f433;',
      horse   : '&#x1f434;',
      pig     : '&#x1f437;',
      frog    : '&#x1f438;',
      koala   : '&#x1f43c;'
    }
    var animals = Object.keys(animalsCodes)
    var data = {
      name:'Olga',
      animals,
      animalsCodes,
      animalsForZoo,
      sadSrc: 'images/sad.png',
      gladSrc: 'images/glad.png'
    }
    new Vue({
      el: '#app',
      data,
      methods: {
        populateAnimalsForZoo(ev) {
          this.animalsForZoo = []
          const selected = document.querySelectorAll('#animals option:checked')
          for (var i = 0; i < selected.length; i++) {
            this.animalsForZoo.push(selected[i].value)
          }
        }
      }
    })
  </script>
</body>
</html>