$color-white: #fff;
$color-black: #000;
$color-grey-lightest: #f8f8f8;
$color-grey: #ccc;
$color-grey2: #999;
$color-dark-red: #d53a3a;
$color-red: #e23836;

$color-primary: #f15d59;
$color-primary-faded: #ffcdd2;
$color-lp-bg: #d3302f;
$color-lp-primary: #b71e1e;
$color-lp-primary-faded: #ea5351;


$color-grey-input: #757575;
